.App {
  text-align: center;
}

.App-header {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(245, 245, 245);
  background-origin: padding-box;
  background-size: auto;
  border-top-color: rgb(119, 132, 146);
  border-top-style: solid;
  border-top-width: 10px;
  box-sizing: border-box;
  color: rgb(67, 67, 67);
  display: block;
  font-family: Lato, arial, sans-serif;
  font-size: 16px;
  height: 150px;
  line-height: 22.8571px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  text-size-adjust: 100%;
}

.side-bar {
  background-color: gray;
  min-height: 800px;
}
.post-content{
  background-color: white;
  background-color: #efefef;
  min-height: 800px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: cadetblue;
  text-align: center;
}
