html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin: 0;*/
  /*padding: 0;*/
  font-family: sans-serif;
  background-color: rgb(230,230,230);
  overflow: auto;
  margin: 0;
  min-height: 100%;

}
h{
  margin-top: 0;
}
section{
  padding: 10px;
  text-align: left;
}
.App {
  text-align: center;
}

.post-tab{
  padding:10px;
}
.main-container{
  padding-bottom:80px;
}
.App-header {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #353A4D;
  background-origin: padding-box;
  background-size: auto;
  border-top-color: rgb(119, 132, 146);
  border-top-style: solid;
  border-top-width: 10px;
  box-sizing: border-box;
  color: #F1F4FF;
  display: block;
  font-family: Lato, arial, sans-serif;
  font-size: 16px;
  height: 150px;
  width:100%;
  line-height: 22.8571px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  text-size-adjust: 100%;
}
.header-description{
  margin-left: 10px;
  float: left;
}

.postDateSubTitle{
  margin-left: 3%;
  color: rgb(100,100,100);
  font-style: italic;
}
.profile-pic {
  /*height:80px;*/
  /*width:70px;*/
  /*border-radius: 50%;*/
}



.side-bar {
  background-color: white;
  min-height: 800px;
}
.post-content{
  margin-top:20px;
  background-color: white;
  min-height: 800px;
}

.about{
  margin-top:20px;
  background-color: white;
  min-height: 800px;

}
.row{
  margin-top: 20px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 60px;
  width: 100%;
  background-color: dimgrey;
  text-align: center;
  font-size: 20px;
  color: white;
  font-style: oblique;
}

